/* app */
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  touch-action: none;
  -webkit-touch-callout: none; /* Disable default callout menu in Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Standard syntax */
  /* Use env() to get the size of the address bar and adjust the padding accordingly */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

/* app.debug */
#debug-el {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 20px;
  font-size: 1em;
  overflow: auto;
  z-index: 100;
  pointer-events: none;
  margin: 0;
  padding: 0;
}
.debug-log {
  margin: 0;
  padding: 1em;
}

/* animations
 *
 * pop in and out
 * fade in and out
 */
.anim.pop-in {
  transform: scale(1);
  transition: transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.anim.pop-out {
  transform: scale(0);
  transition: transform 0.2s cubic-bezier(0.36, 0, 0.66, -0.56);
}
.anim.scale-in {
  transform: scale(1);
  transition: transform 0.25s ease-out;
}
.anim.scale-out {
  transform: scale(0);
  transition: transform 0.2s ease-out;
}
.anim.fade-in {
  opacity: 1;
  transition: opacity 0.25s ease-out;
}
.anim.fade-out {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
